@import url(https://fonts.googleapis.com/css?family=Muli:200,300,400,500,600,700,800,900,200i,300i,400i,500i,600i,700i,800i,900i&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Muli', sans-serif;
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Muli', sans-serif;
  font-size: 2.4rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 3.84rem;
}
.display-4 {
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Muli', sans-serif;
  font-size: 1.2rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-7 {
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.92rem;
    font-size: calc( 1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #f6378f !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #f6378f !important;
  border-color: #f6378f !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #d70a68 !important;
  border-color: #d70a68 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #d70a68 !important;
  border-color: #d70a68 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #be095c;
  color: #be095c;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #f6378f;
  border-color: #f6378f;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #f6378f !important;
  border-color: #f6378f !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #232323;
  border-color: #232323;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #f6378f !important;
}
.text-secondary {
  color: #232323 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #be095c !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #f6378f;
  border-color: #f6378f;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #f6378f;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fffafc;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #f6378f;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #f6378f;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #f6378f;
}
/* Headers*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #f6378f;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #f6378f;
  border-bottom-color: #f6378f;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #f6378f !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #232323 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23f6378f' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-rU22w6spXC .navbar {
  background: #ffffff;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-rU22w6spXC .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-rU22w6spXC a {
  font-style: normal;
}
.cid-rU22w6spXC .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rU22w6spXC .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rU22w6spXC .nav-item:focus,
.cid-rU22w6spXC .nav-link:focus {
  outline: none;
}
.cid-rU22w6spXC .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rU22w6spXC .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rU22w6spXC .menu-logo {
  margin-right: auto;
}
.cid-rU22w6spXC .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rU22w6spXC .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rU22w6spXC .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rU22w6spXC .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rU22w6spXC .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rU22w6spXC .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rU22w6spXC .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rU22w6spXC .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-rU22w6spXC .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rU22w6spXC .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rU22w6spXC .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rU22w6spXC .dropdown .dropdown-menu {
  background: #ffffff;
  visibility: hidden;
  display: block;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rU22w6spXC .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rU22w6spXC .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rU22w6spXC .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rU22w6spXC .dropdown.open > .dropdown-menu {
  visibility: visible;
}
.cid-rU22w6spXC .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rU22w6spXC .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rU22w6spXC .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rU22w6spXC .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rU22w6spXC .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rU22w6spXC .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rU22w6spXC .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rU22w6spXC button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rU22w6spXC button.navbar-toggler:focus {
  outline: none;
}
.cid-rU22w6spXC button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #333333;
}
.cid-rU22w6spXC button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rU22w6spXC button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rU22w6spXC button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rU22w6spXC button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rU22w6spXC nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rU22w6spXC nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rU22w6spXC nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rU22w6spXC nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rU22w6spXC .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rU22w6spXC .collapsed .btn {
  display: -webkit-flex;
}
.cid-rU22w6spXC .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rU22w6spXC .collapsed .navbar-collapse.collapsing,
.cid-rU22w6spXC .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rU22w6spXC .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rU22w6spXC .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rU22w6spXC .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rU22w6spXC .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rU22w6spXC .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-rU22w6spXC .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-rU22w6spXC .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rU22w6spXC .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rU22w6spXC .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rU22w6spXC .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-rU22w6spXC .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-rU22w6spXC .collapsed button.navbar-toggler {
  display: block;
}
.cid-rU22w6spXC .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rU22w6spXC .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rU22w6spXC .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rU22w6spXC .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rU22w6spXC .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rU22w6spXC .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-rU22w6spXC.navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rU22w6spXC img {
    height: 3.8rem !important;
  }
  .cid-rU22w6spXC .btn {
    display: -webkit-flex;
  }
  .cid-rU22w6spXC button.navbar-toggler {
    display: block;
  }
  .cid-rU22w6spXC .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rU22w6spXC .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rU22w6spXC .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rU22w6spXC .navbar-collapse.collapsing,
  .cid-rU22w6spXC .navbar-collapse.show {
    display: block !important;
  }
  .cid-rU22w6spXC .navbar-collapse.collapsing .navbar-nav,
  .cid-rU22w6spXC .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rU22w6spXC .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rU22w6spXC .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rU22w6spXC .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-rU22w6spXC .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-rU22w6spXC .navbar-collapse.collapsing .navbar-buttons,
  .cid-rU22w6spXC .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rU22w6spXC .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rU22w6spXC .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rU22w6spXC .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rU22w6spXC .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rU22w6spXC .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rU22w6spXC .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rU22w6spXC .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rU22w6spXC .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rU22w6spXC .nav-link:hover,
.cid-rU22w6spXC .dropdown-item:hover {
  color: #f6378f !important;
}
.cid-qxF9tMPSBX {
  padding-top: 135px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/4.jpg");
}
.cid-qxF9tMPSBX .mbr-text,
.cid-qxF9tMPSBX .mbr-section-btn {
  text-align: right;
}
.cid-qxF9tMPSBX H1 {
  text-align: right;
  color: #232323;
}
.cid-qxFmUG73Xe {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-qxFmUG73Xe .testimonial-text {
  font-style: italic;
  color: #f6378f;
  font-weight: 300;
}
.cid-qxFmUG73Xe .mbr-author-name {
  font-weight: bold;
  color: #232323;
}
.cid-qxFmUG73Xe .mbr-author-desc {
  color: #232323;
}
.cid-qyjAO9ptzh {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-qyjAO9ptzh .mbr-section-subtitle {
  color: #767676;
}
.cid-qyjAO9ptzh H2 {
  color: #f6378f;
}
.cid-qySmbUmm5k {
  padding-top: 15px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-qySmbUmm5k h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-qySmbUmm5k p {
  color: #767676;
  text-align: left;
}
.cid-qySmbUmm5k .card-box {
  padding-top: 2rem;
}
.cid-qySmbUmm5k .card-title {
  color: #232323;
}
.cid-qySmbUmm5k P {
  color: #232323;
}
.cid-rU1V0U7L4C {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rU1V0U7L4C h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-rU1V0U7L4C p {
  color: #767676;
  text-align: left;
}
.cid-rU1V0U7L4C .card-box {
  padding-top: 2rem;
}
.cid-rU1V0U7L4C .card-title {
  color: #232323;
}
.cid-rU1V0U7L4C P {
  color: #232323;
}
.cid-rU27Y9m0SJ {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rU27Y9m0SJ .carousel-item {
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rU27Y9m0SJ .carousel-item.active,
.cid-rU27Y9m0SJ .carousel-item-next,
.cid-rU27Y9m0SJ .carousel-item-prev {
  display: flex;
}
.cid-rU27Y9m0SJ .carousel-controls a {
  transition: opacity .5s;
  font-size: 2rem;
}
.cid-rU27Y9m0SJ .carousel-controls a span {
  position: absolute;
  top: 180px;
  padding: 10px;
  border-radius: 50%;
  color: #585858;
  background: #c8c6c6;
  opacity: .5;
}
.cid-rU27Y9m0SJ .carousel-controls a:hover span {
  opacity: 1;
}
.cid-rU27Y9m0SJ .user_image {
  width: 200px;
  height: 200px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 2rem auto;
}
.cid-rU27Y9m0SJ .user_image img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
@media (max-width: 230px) {
  .cid-rU27Y9m0SJ .user_image {
    width: 100%;
    height: auto;
  }
}
.cid-rU27Y9m0SJ H2 {
  color: #f6378f;
}
.cid-rU29cIorYy {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-rU29cIorYy .mbr-section-subtitle,
.cid-rU29cIorYy .mbr-text {
  color: #767676;
}
.cid-rU29cIorYy .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rU29cIorYy .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-rU29cIorYy .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rU29cIorYy .card-wrapper .card-img .mbr-overlay {
  background-color: #ffffff;
  display: none;
  transition: opacity .3s;
}
.cid-rU29cIorYy .card-wrapper .card-img img {
  width: 100%;
}
.cid-rU29cIorYy .card-wrapper .card-box {
  background-color: #ffffff;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-rU29cIorYy .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-rU29cIorYy .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
}
.cid-rU29cIorYy .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.cid-rU29cIorYy .card-img .mbr-overlay {
  display: block !important;
  opacity: 0;
}
.cid-rU29cIorYy .card-img:hover .mbr-overlay {
  opacity: .5;
}
.cid-rU29cIorYy .mbr-section-title {
  color: #f6378f;
}
.cid-rU29cIorYy .mbr-section-subtitle {
  color: #767676;
}
.cid-rU2qsDazk2 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rU2qsDazk2 .mbr-section-subtitle {
  color: #767676;
}
.cid-rU2qsDazk2 H2 {
  color: #f6378f;
}
.cid-qyS1k5hHnP {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-qyS1k5hHnP .mbr-section-subtitle {
  color: #767676;
}
.cid-qyS1k5hHnP .media-row {
  display: flex;
  justify-content: center;
}
.cid-qyS1k5hHnP .team-item {
  transition: all .2s;
  margin-bottom: 2rem;
}
.cid-qyS1k5hHnP .team-item .item-image img {
  width: 100%;
}
.cid-qyS1k5hHnP .team-item .item-name p {
  margin-bottom: 0;
}
.cid-qyS1k5hHnP .team-item .item-role p {
  margin-bottom: 0;
}
.cid-qyS1k5hHnP .team-item .item-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cid-qyS1k5hHnP .team-item .item-social .socicon {
  color: #232323;
  font-size: 17px;
}
.cid-qyS1k5hHnP .team-item .item-caption {
  background: #efefef;
}
.cid-qyS1k5hHnP H2 {
  color: #f6378f;
}
.cid-qyS1k5hHnP .item-name {
  color: #232323;
}
.cid-qyS1k5hHnP .item-role P {
  color: #232323;
}
.cid-rU2aoXzixE {
  padding-top: 0px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-rU2aoXzixE .mbr-section-subtitle {
  color: #767676;
}
.cid-rU2aoXzixE .media-row {
  display: flex;
  justify-content: center;
}
.cid-rU2aoXzixE .team-item {
  transition: all .2s;
  margin-bottom: 2rem;
}
.cid-rU2aoXzixE .team-item .item-image img {
  width: 100%;
}
.cid-rU2aoXzixE .team-item .item-name p {
  margin-bottom: 0;
}
.cid-rU2aoXzixE .team-item .item-role p {
  margin-bottom: 0;
}
.cid-rU2aoXzixE .team-item .item-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cid-rU2aoXzixE .team-item .item-social .socicon {
  color: #232323;
  font-size: 17px;
}
.cid-rU2aoXzixE .team-item .item-caption {
  background: #efefef;
}
.cid-rU2aoXzixE H2 {
  color: #ffffff;
}
.cid-rU2aoXzixE .item-name {
  color: #232323;
}
.cid-rU2aoXzixE .item-role P {
  color: #232323;
}
.cid-qyjRltyeJh {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  background: linear-gradient(#ffffff, #ffffff);
}
.cid-qyjRltyeJh .carousel-control {
  background: #000;
}
.cid-qyjRltyeJh .mbr-section-subtitle {
  color: #232323;
}
.cid-qyjRltyeJh .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-qyjRltyeJh .carousel-item .media-container-row {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-qyjRltyeJh .carousel-item .wrap-img {
  text-align: center;
}
.cid-qyjRltyeJh .carousel-item .wrap-img img {
  max-height: 150px;
  width: auto;
  max-width: 100%;
}
.cid-qyjRltyeJh .carousel-controls {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-qyjRltyeJh .carousel-controls .carousel-control {
  background: #000;
  border-radius: 50%;
  position: static;
  width: 40px;
  height: 40px;
  margin-top: 2rem;
  border-width: 1px;
}
.cid-qyjRltyeJh .carousel-controls .carousel-control.carousel-control-prev {
  left: auto;
  margin-right: 20px;
  margin-left: 0;
}
.cid-qyjRltyeJh .carousel-controls .carousel-control.carousel-control-next {
  right: auto;
  margin-right: 0;
}
.cid-qyjRltyeJh .carousel-controls .carousel-control .mbr-iconfont {
  font-size: 1rem;
}
.cid-qyjRltyeJh .cloneditem-1,
.cid-qyjRltyeJh .cloneditem-2,
.cid-qyjRltyeJh .cloneditem-3,
.cid-qyjRltyeJh .cloneditem-4,
.cid-qyjRltyeJh .cloneditem-5 {
  display: none;
}
.cid-qyjRltyeJh .col-lg-15 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}
@media (min-width: 992px) {
  .cid-qyjRltyeJh .col-lg-15 {
    -ms-flex: 0 0 20%;
    -webkit-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    width: 20%;
  }
  .cid-qyjRltyeJh .carousel-inner.slides2 > .carousel-item.active.carousel-item-right,
  .cid-qyjRltyeJh .carousel-inner.slides2 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
  .cid-qyjRltyeJh .carousel-inner.slides2 > .carousel-item.active.carousel-item-left,
  .cid-qyjRltyeJh .carousel-inner.slides2 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  .cid-qyjRltyeJh .carousel-inner.slides2 > .carousel-item.carousel-item-left,
  .cid-qyjRltyeJh .carousel-inner.slides2 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-qyjRltyeJh .carousel-inner.slides2 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-qyjRltyeJh .carousel-inner.slides2 .cloneditem-1,
  .cid-qyjRltyeJh .carousel-inner.slides2 .cloneditem-2,
  .cid-qyjRltyeJh .carousel-inner.slides2 .cloneditem-3 {
    display: block;
  }
  .cid-qyjRltyeJh .carousel-inner.slides3 > .carousel-item.active.carousel-item-right,
  .cid-qyjRltyeJh .carousel-inner.slides3 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(33.333333%, 0, 0);
    transform: translate3d(33.333333%, 0, 0);
  }
  .cid-qyjRltyeJh .carousel-inner.slides3 > .carousel-item.active.carousel-item-left,
  .cid-qyjRltyeJh .carousel-inner.slides3 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-33.333333%, 0, 0);
    transform: translate3d(-33.333333%, 0, 0);
  }
  .cid-qyjRltyeJh .carousel-inner.slides3 > .carousel-item.carousel-item-left,
  .cid-qyjRltyeJh .carousel-inner.slides3 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-qyjRltyeJh .carousel-inner.slides3 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-qyjRltyeJh .carousel-inner.slides3 .cloneditem-1,
  .cid-qyjRltyeJh .carousel-inner.slides3 .cloneditem-2,
  .cid-qyjRltyeJh .carousel-inner.slides3 .cloneditem-3 {
    display: block;
  }
  .cid-qyjRltyeJh .carousel-inner.slides4 > .carousel-item.active.carousel-item-right,
  .cid-qyjRltyeJh .carousel-inner.slides4 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }
  .cid-qyjRltyeJh .carousel-inner.slides4 > .carousel-item.active.carousel-item-left,
  .cid-qyjRltyeJh .carousel-inner.slides4 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
  }
  .cid-qyjRltyeJh .carousel-inner.slides4 > .carousel-item.carousel-item-left,
  .cid-qyjRltyeJh .carousel-inner.slides4 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-qyjRltyeJh .carousel-inner.slides4 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-qyjRltyeJh .carousel-inner.slides4 .cloneditem-1,
  .cid-qyjRltyeJh .carousel-inner.slides4 .cloneditem-2,
  .cid-qyjRltyeJh .carousel-inner.slides4 .cloneditem-3 {
    display: block;
  }
  .cid-qyjRltyeJh .carousel-inner.slides5 > .carousel-item.active.carousel-item-right,
  .cid-qyjRltyeJh .carousel-inner.slides5 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }
  .cid-qyjRltyeJh .carousel-inner.slides5 > .carousel-item.active.carousel-item-left,
  .cid-qyjRltyeJh .carousel-inner.slides5 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
  .cid-qyjRltyeJh .carousel-inner.slides5 > .carousel-item.carousel-item-left,
  .cid-qyjRltyeJh .carousel-inner.slides5 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-qyjRltyeJh .carousel-inner.slides5 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-qyjRltyeJh .carousel-inner.slides5 .cloneditem-1,
  .cid-qyjRltyeJh .carousel-inner.slides5 .cloneditem-2,
  .cid-qyjRltyeJh .carousel-inner.slides5 .cloneditem-3,
  .cid-qyjRltyeJh .carousel-inner.slides5 .cloneditem-4 {
    display: block;
  }
  .cid-qyjRltyeJh .carousel-inner.slides6 > .carousel-item.active.carousel-item-right,
  .cid-qyjRltyeJh .carousel-inner.slides6 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(16.666667%, 0, 0);
    transform: translate3d(16.666667%, 0, 0);
  }
  .cid-qyjRltyeJh .carousel-inner.slides6 > .carousel-item.active.carousel-item-left,
  .cid-qyjRltyeJh .carousel-inner.slides6 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-16.666667%, 0, 0);
    transform: translate3d(-16.666667%, 0, 0);
  }
  .cid-qyjRltyeJh .carousel-inner.slides6 > .carousel-item.carousel-item-left,
  .cid-qyjRltyeJh .carousel-inner.slides6 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-qyjRltyeJh .carousel-inner.slides6 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-qyjRltyeJh .carousel-inner.slides6 .cloneditem-1,
  .cid-qyjRltyeJh .carousel-inner.slides6 .cloneditem-2,
  .cid-qyjRltyeJh .carousel-inner.slides6 .cloneditem-3,
  .cid-qyjRltyeJh .carousel-inner.slides6 .cloneditem-4,
  .cid-qyjRltyeJh .carousel-inner.slides6 .cloneditem-5 {
    display: block;
  }
}
.cid-qyjRltyeJh H2 {
  color: #f6378f;
}
.cid-rU2d7HpbmO {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f6378f;
}
.cid-rU2d7HpbmO .title {
  margin-bottom: 2rem;
}
.cid-rU2d7HpbmO .mbr-section-subtitle {
  color: #ffffff;
}
.cid-rU2d7HpbmO a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-rU2d7HpbmO a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-rU2d7HpbmO textarea.form-control {
  min-height: 188px;
}
.cid-rU2d7HpbmO H2 {
  color: #ffffff;
}
.cid-rU2d7HpbmO LABEL {
  color: #ffffff;
}
.cid-rU2nS1vAJV {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2e2e2e;
}
@media (max-width: 767px) {
  .cid-rU2nS1vAJV .content {
    text-align: center;
  }
  .cid-rU2nS1vAJV .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-rU2nS1vAJV .media-wrap {
    margin-bottom: 1rem;
  }
}
.cid-rU2nS1vAJV .media-wrap .mbr-iconfont-logo {
  font-size: 7.5rem;
  color: #f36;
}
.cid-rU2nS1vAJV .media-wrap img {
  height: 6rem;
}
@media (max-width: 767px) {
  .cid-rU2nS1vAJV .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-rU2nS1vAJV .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-rU2nS1vAJV .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rU2nS1vAJV .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-rU2nS1vAJV .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rU2nS1vAJV .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rU2nS1vAJV .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rU2nS1vAJV .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
