a.logo img {
    height: auto;
    max-height: 45px;
}

.table-cta label {
    margin-bottom: 0px;
}

.table-cta .item {
    padding: 5px 10px;
    align-items: center;
}

.table-cta .item.d-flex .label {
    flex: 1;
    display: block;
    padding-right: 10px;
}

.table-cta .item.d-flex .form-control {
    flex: 1;
}

.custom-radio {
    cursor: pointer;
}

.custom-radio input[type="radio"] {
    display: none;
}

.custom-radio span {
    display: inline-block;
    padding-left: 25px;
    position: relative;
}

.custom-radio span:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #ccc;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.custom-radio span:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 9px;
    width: 7px;
    height: 7px;
    border: 1px solid #7f59dc;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #7f59dc;
    opacity: 0;
}

.custom-radio input[type="radio"]:checked+span:after {
    opacity: 1;
}

.grid-list a {
    text-decoration: none;
    color: #212529;
}

.grid-list a.active {
    font-weight: 700;
}

.table-thumb {
    max-width: 64px;
}

.popup-gallery2 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.popup-gallery2 .lightItem {
    display: block;
    width: 20%;
    padding: 10px;
}

.popup-gallery2 .lightItem img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.custom-check {
    margin-bottom: 0px;
}

.custom-check input[type="checkbox"] {
    display: none;
}

.custom-check span {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.custom-check input[type="checkbox"]:checked+span {
    background: #1699dd;
    color: #fff;
}

.custom-check:nth-of-type(even) input[type="checkbox"]:checked+span {
    background: #e66793;
}

.full-width {
    width: 100%;
    max-width: 100%;
}

#datatable_wrapper a i {
    color: #6c757d;
    font-size: 20px;
}

a.logo-admin img {
    height: 45px;
}

input[type="date"] {
    max-width: 162px;
}

.form-wrap .col-form-label {
    font-size: 13px;
}

.btn {
    min-width: 72px;
}

@media only screen and (max-width: 1200px) {
    .table-cta {
        flex-wrap: wrap;
    }
    .table-cta .item {
        width: 33.33%;
    }
    .popup-gallery2 .lightItem {
        width: 33.33%;
        height: 200px;
    }
    #datatable ul {
        list-style: none;
        padding-left: 0px;
    }
    #datatable ul li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }
    #datatable ul span.dtr-data {
        text-align: right;
        display: inline-block;
        padding-left: 10px;
    }
}

@media only screen and (max-width: 992px) {
    .table-cta .item {
        width: 50%;
    }
    button {
        min-width: 100px;
    }
    .popup-gallery2 .lightItem {
        width: 50%;
        height: 250px;
    }
    .checkbox-wrap.d-flex {
        flex-wrap: wrap;
    }
    .userTable .btn {
        display: block;
    }
}

@media only screen and (max-width: 767px) {
    .table-cta .item {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    .table-cta .item.d-flex .label {
        margin-bottom: 5px;
    }
    .table-cta .btn {
        width: 100%;
        margin-bottom: 15px;
    }
    .popup-gallery2 .lightItem {
        width: 100%;
        height: auto;
    }
    .userTable .btn {
        display: block;
        margin-bottom: 10px;
    }
    .custom-check {
        width: 33.33%;
    }
    .custom-check span {
        width: 100%;
    }
    .wrapper-page {
        padding: 0px 15px;
    }
    a.logo-admin img {
        height: 33px;
    }
    input[type="date"] {
        max-width: 100%;
    }
    ul.pagination {
        margin: 40px 0px!important;
    }
    .wrapper {
        margin-bottom: 40px;
    }
    div.dataTables_wrapper div.dataTables_info {
        text-align: right!important;
    }
    div.dataTables_wrapper div.dataTables_length,
    div.dataTables_wrapper div.dataTables_filter,
    div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_paginate {
        text-align: left!important;
    }
    div.dataTables_wrapper div.dataTables_length select {
        margin-left: 14px;
    }
    .custom-check span {
        padding: 10px 5px;
        text-align: center;
    }
    a.logo img {
        max-height: 24px;
    }
    #datatable_wrapper .btn {
        min-width: 78px!important;
    }
}